@import url('./styles/animation.css');

:root {
  --hover-сolor: #ed8936;
  --arrows-сolor: black;
  --remove-footer-animation: 0.3s;
  --delay-footer-animation: 0.5s;
  --remove-header-animation: 0.3s;
  --delay-header-animation: 0.5s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
}

html,
body {
  position: relative;
  overflow: hidden;
  height: 100%;
}

body {
  min-height: 100vh;
  height: 1px;

  background: url('./img/fon.jpg') repeat-x center;

  backdrop-filter: blur(2px);
}

.body-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.body-wrap--hide {
  display: none;
}

.name-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 10px;
  margin-bottom: 20px;
}
.name {
  color: #ed8936;
  font-size: 28px;
}

h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

.header,
.footer {
  position: relative;

  height: 70px;
  background-color: #00000082;
}
.header {
  top: 0;
  margin-bottom: 30px;
  transition: top var(--remove-header-animation) linear 0s;
}

.remove-header {
  top: -70px;
  transition: top var(--remove-header-animation) linear
    var(--delay-header-animation);
}
.header-wrap,
.footer-wrap {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1300px;
  width: 100%;

  margin: 0 auto;
}
.header-wrap {
  height: 60px;
  padding-top: 5px;
  overflow: hidden;
}

.header__logo {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100px;
  height: 60px;

  border-radius: 50%;
  color: var(--hover-сolor);
  font-size: 40px;

  transition: left 0.6s linear 0.6s;
}

.remove-logo {
  transition: left 0.6s linear;
  left: -30%;
}
.header__btn-wrap {
  position: absolute;
  right: 0;

  display: flex;

  transition: right 0.6s linear 0.6s;
}

.remove-menu {
  transition: right 0.6s linear;
  right: -50%;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;

  margin-right: 10px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header__btn:last-child {
  margin-right: 0px;
}
.header__btn:hover {
  color: var(--hover-сolor);
}
.btn-active {
  color: var(--hover-сolor);
  pointer-events: none;
}

/***************************************/

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 200px);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 1% 1%;
  perspective: 2400px;
  overflow: hidden;
}
.main-wrap {
  display: flex;
  justify-content: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 24px;
}
.main__page {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: inherit;
  height: inherit;
  padding: 7px 1.5%;

  font-size: 40px;
  font-weight: 900;

  background: white;
  border: #dddddd solid 1px;
  border-radius: 24px;
  box-shadow: 0px 1px 11px rgb(40 136 215 / 35%);
}

.face {
  transform: rotateY(0deg) translateZ(0px);
  opacity: 1;
  z-index: 10;
}

.left {
  transform: rotateY(120deg) translateZ(516px) translateX(307px);
  z-index: 1;
}

.right {
  transform: rotateY(240deg) translateZ(507px) translateX(-293px);
  z-index: 1;
}

.section__btn_left,
.section__btn_right {
  position: relative;
  display: block;
  height: 40px;
  width: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.section__btn_left_top,
.section__btn_left_bottom {
  position: absolute;
  width: 75%;
  height: 2px;
  top: 53%;
  left: 5px;

  background-color: var(--arrows-сolor);
  transform-origin: left center;
  transform: rotate(-45deg);
  border-radius: 5px;
  transition: transform 0.3s linear;
}

.section__btn_left_bottom {
  top: 50%;
  transform: rotate(45deg);
}

.section__btn_left:hover .section__btn_left_top {
  transform: rotate(-65deg);
  background-color: var(--hover-сolor);
}
.section__btn_left:hover .section__btn_left_bottom {
  transform: rotate(65deg);
  background-color: var(--hover-сolor);
}

.section__btn_right_top,
.section__btn_right_bottom {
  position: absolute;
  width: 75%;
  height: 2px;
  top: 49%;
  background-color: var(--arrows-сolor);
  transform-origin: right center;
  transform: rotate(-45deg);
  border-radius: 5px;
  transition: transform 0.3s linear;
}
.section__btn_right_bottom {
  top: 50%;
  transform: rotate(45deg);
}

.section__btn_right:hover .section__btn_right_top {
  transform: rotate(-65deg);
  background-color: var(--hover-сolor);
}
.section__btn_right:hover .section__btn_right_bottom {
  transform: rotate(65deg);
  background-color: var(--hover-сolor);
}

.section__btn_span-left,
.section__btn_span-right {
  position: relative;
  z-index: 10;

  color: transparent;

  font-size: 16px;
  font-weight: 700;

  border-radius: 5px;
  padding: 0px 5px;

  transition: all 0.3s linear;
}
.section__btn_span-right {
  right: -70px;
  pointer-events: none;
}

.section__btn_span-left {
  left: -100px;
  pointer-events: none;
}

.section__btn_right:hover .section__btn_span-right {
  color: white;
  background-color: #ed8936;
  right: 75px;
  transition: all 0.3s linear;
  pointer-events: auto;
}

.section__btn_left:hover .section__btn_span-left {
  color: white;
  background-color: #ed8936;
  left: 20px;
  transition: all 0.3s linear;
  pointer-events: auto;
}

.section__btn_right:hover .section__btn_span-right--contacts {
  right: 100px;
  pointer-events: auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 20px 10px;

  width: calc(100% - 80px);
  height: 100%;
}

/********* my-contacts ********/
.main__page_my-contacts {
  overflow-x: hidden;
}

.main__page_my-contacts::-webkit-scrollbar {
  width: 0;
}

/******************************/

/********* about-me ***********/

.main__page_about-me {
  overflow: hidden;
}
.page-content__wrap {
  overflow: auto;
}

.page-content__wrap::-webkit-scrollbar {
  width: 0;
}

.certificates {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.certificate {
  flex: 1 1 100px;
  margin: 20px;
  max-width: 300px;
  min-width: 200px;
}

.certificate__link {
  display: block;
}

.certificate__img {
  width: 100%;

  border: 1px solid black;
}

.skills-logo {
  display: block;
  width: 100%;
  max-width: 90px;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
}

/****************************/

.photo-contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-height: 300px;

  margin: 10px;
}

.photo-contacts__img {
  flex: 1 0 100px;

  max-width: 360px;
  min-width: 280px;
  margin-right: 40px;
  margin-bottom: 40px;

  border-radius: 10px;

  overflow: hidden;
}

.photo-contacts__text {
  flex: 2 1 100px;
}

.my-photo {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/********** my-works ***********/
.main__page_my-works {
  overflow: auto;
}

.main__page_my-works::-webkit-scrollbar {
  width: 0;
}
.my-works {
  width: 100%;
}
.my-works__wrap {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-decoration: none;
}

.work__img-wrap {
  position: relative;
  overflow: hidden;
}
.work__technologies-used {
  position: absolute;
  top: -100%;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  width: 100%;
  height: 98%;
  padding: 20px;

  border-radius: 10px;

  background-color: #00000080;

  transition: top 0.3s;
}
.work__technologies-used_text {
  width: 100%;

  font-weight: 400;
  color: white;
}

.work__img-wrap:hover .work__technologies-used {
  top: 0;
  transition: top 0.3s;
}

.work__img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.work__text {
  margin-top: 5px;

  text-align: center;
  color: #ed8936;
}

.work__span {
  color: black;
  font-weight: 400;
}
/********************************/

.footer {
  bottom: 0;

  margin-top: 30px;

  transition: bottom var(--remove-footer-animation) linear 0s;
}

.remove-footer {
  bottom: -70px;
  transition: bottom var(--remove-footer-animation) linear
    var(--delay-footer-animation);
}

.footer-wrap {
  position: relative;
  bottom: 0;

  justify-content: center;
  align-items: center;

  height: 100%;

  color: white;
  font-size: 16px;

  transition: bottom var(--remove-footer-animation) linear
    var(--delay-footer-animation);
}

.remove-footer-wrap {
  bottom: -70px;
  transition: bottom var(--remove-footer-animation) linear;
}

.text {
  color: #ed8936;
  margin: 10px 0;
}

.textLink {
  display: block;
  text-decoration: none;
  color: #ed8936;
  margin: 10px 0;
}

.spanLink {
  color: #3182ce;
  font-weight: 400;
}

.title {
  color: #3182ce;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}

/*******************************************************/

.burger-btn {
  position: absolute;
  right: 20px;
  z-index: 5;

  display: none;

  width: 50px;
  height: 35px;

  cursor: pointer;

  transition: right 0.6s linear 0.6s;
}

.remove-burger-btn {
  transition: right 0.6s linear;
  right: -30%;
}

.burger-btn::before,
.burger-btn::after,
.burger-btn span {
  position: absolute;
  left: 0;
  height: 15%;
  width: 100%;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  background-color: #ed8936;
}

.burger-btn::before,
.burger-btn::after {
  content: '';
}

.burger-btn::before {
  top: 0;
}
.burger-btn::after {
  bottom: 0;
}
.burger-btn:hover::before {
  top: 5px;
}
.burger-btn:hover::after {
  bottom: 5px;
}

.burger-btn span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.burger-btn._active span {
  transform: scale(0) translate(0px, -50%);
}
.burger-btn._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  background-color: #ed8936;
}
.burger-btn._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  background-color: #ed8936;
}

.header__btn-burger {
  position: absolute;
  top: 70px;
  z-index: 20;

  display: none;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background-color: #000000b8;
  padding: 10px;
  gap: 30px;

  transform-origin: right top;
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.header__btn-burger._active {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.header__btn-burger button {
  margin-right: 0px;
}

/*******************************************************/

@media (max-width: 920px) {
  .my-works__wrap {
    flex-direction: column;

    margin-bottom: 20px;
    gap: 0px;
  }
  .my-works {
    flex-wrap: wrap;
  }

  .work {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) {
  .name {
    display: inline-block;
  }
  .burger-btn {
    display: block;
  }

  .header__btn-wrap {
    display: none;
  }

  .header__btn-burger {
    display: flex;
  }

  .page-content {
    padding: 0;
  }

  .photo-contacts,
  .certificates {
    flex-wrap: wrap;
  }
  .title {
    font-size: 16px;
  }
  .textLink {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .page-content {
    padding: 10px;
    width: 100%;
  }

  .section__btn_right,
  .section__btn_left {
    display: none;
  }

  .work {
    margin-bottom: 30px;
  }
  .photo-contacts__img {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
